.bg-col-dark {
  background-color: #d4c0b7; }

.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

h2 {
  margin-bottom: 5px; }

.font-title {
  font-family: 'Kurye', sans-serif; }

.font-text {
  font-family: 'inria sans', sans-serif; }

.font-accent {
  font-family: 'inconsolata', sans-serif; }

.underline {
  border-bottom: 1px solid; }

.size-big-title {
  font-size: clamp(40px, 5vw, 55px);
  line-height: 1.1;
  padding-bottom: 20px;
  margin: 0; }

.size-med-title {
  font-size: clamp(30px, 8vw, 35px);
  padding-bottom: 20px;
  line-height: 1.1;
  margin: 0; }

.size-small-title {
  font-size: clamp(20px, 4vw, 25px);
  padding-bottom: 20px;
  line-height: 1.1;
  margin: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  all: unset;
  cursor: pointer; }

h1, h2, p {
  font-weight: normal;
  margin-top: 0;
  padding-top: 0; }

@media (max-width: 900px) {
  .flex-switch-mobile {
    flex-direction: column; } }

.transition {
  transition: all 0.3s ease; }

@media (max-width: 900px) {
  .hide-mobile {
    display: none; } }

.carousel {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 800px;
  width: 80vw; }
  @media (min-width: 900px) {
    .carousel {
      max-height: 525px; } }
  @media (max-width: 900px) {
    .carousel {
      max-height: 800px; } }

.carousel__item.active {
  position: absolute;
  visibility: visible;
  opacity: 1;
  top: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 50px; }
  @media (max-width: 900px) {
    .carousel__item.active {
      padding-bottom: 200px;
      height: 70%;
      top: 75px; } }

.carousel__item {
  visibility: hidden;
  transition: opacity 0.75s ease-in-out;
  opacity: 0; }

.carousel__arrow-button {
  position: absolute;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  height: 48px;
  width: 48px;
  border-radius: 5px;
  color: #950216;
  font-size: 1.5rem;
  background-color: rgba(175, 177, 179, 0.3);
  border: none;
  z-index: 2; }

.carousel__arrow-button#previous {
  left: 1%;
  top: 45%; }

.carousel__arrow-button#next {
  right: 1%;
  top: 45%; }

.carousel__bullet-nav {
  align-self: center;
  display: flex;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%); }

.carousel__bullet {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  background-color: rgba(175, 177, 179, 0.5);
  cursor: pointer; }

.carousel__bullet.active {
  background-color: #950216; }

.project-card {
  align-self: center;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 60px 1fr;
  grid-template-rows: 25px 1fr 25px;
  margin-bottom: 40px; }
  @media (max-width: 900px) {
    .project-card {
      height: 400px;
      display: flex;
      flex-direction: column; } }

.project-card img {
  grid-area: 1 / 1 / 2 / 3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  object-fit: cover;
  height: 350px;
  width: 300px;
  border-radius: 5px;
  z-index: 1; }
  @media (max-width: 900px) {
    .project-card img {
      width: 60vw;
      height: 300px;
      border-radius: 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; } }
  @media (max-width: 500px) {
    .project-card img {
      width: 300px; } }

.info-box {
  padding: 25px 25px 25px 35px;
  background: #fff;
  border-radius: 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / 3 / 4; }
  @media (max-width: 900px) {
    .info-box {
      padding: 25px;
      width: 60vw;
      border-radius: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; } }
  @media (max-width: 500px) {
    .info-box {
      width: 300px; } }

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px; }

.info-box__project-link {
  align-self: flex-end; }
