/* background colors */
.bg-col-dark {
  background-color: #FF9F40; }

.bg-col-med {
  background-color: #FFB973; }

.bg-col-light {
  background-color: #FFD3A7; }

/* text colors */
.txt-col-accent {
  color: #FF084A; }

.txt-col-primary {
  color: #fff; }

.txt-col-secondary {
  color: #FFECD9; }

.email-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 30px;
  width: 60px;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.email-container__input {
  position: relative;
  display: inline-block;
  text-decoration: none;
  writing-mode: vertical-rl;
  margin: 20px auto; }

.email-container__input::after {
  content: "";
  background-color: #FF084A;
  display: inline-block;
  width: 3px;
  height: 120px;
  margin-top: 20px; }

@media screen and (max-width: 750px) {
  /* Hide email on mobile version*/
  .email-container__input {
    display: none; } }

@media screen and (max-height: 410px) {
  /* Hide email on small window height */
  .email-container__input {
    display: none; } }
