/* background colors */
.bg-col-dark {
  background-color: #DDCDC5; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #B60322; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

.email-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 45px;
  justify-content: center;
  align-items: center; }

.email-container__input {
  writing-mode: vertical-rl;
  margin: 20px auto; }
  .email-container__input:hover {
    color: #FAF2EF; }

.email-container__input::after {
  content: "";
  background-color: #B60322;
  display: inline-block;
  width: 4px;
  height: 120px;
  margin-top: 20px; }

@media screen and (max-height: 450px) {
  .email-container__input {
    display: none; } }
