/* background colors */
.bg-col-dark {
  background-color: #FF9F40; }

.bg-col-med {
  background-color: #FFB973; }

.bg-col-light {
  background-color: #FFD3A7; }

/* text colors */
.txt-col-accent {
  color: #FF084A; }

.txt-col-primary {
  color: #fff; }

.txt-col-secondary {
  color: #FFECD9; }

@media (min-height: 500px) {
  .main-section-h80 {
    height: 80vh; } }

.main-section__title {
  padding-top: 15vh;
  background-color: #FF9F40; }

.main-section__title::after {
  content: "";
  background-color: #FF084A;
  display: inline-block;
  width: 40vw;
  height: 4px;
  margin-left: 5%; }

.main-section__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 50px 100px 50px;
  background-color: #FFB973; }

.container--inner {
  display: flex;
  flex-direction: column;
  max-width: 900px; }

.btn {
  display: flex;
  max-width: 230px;
  justify-content: center;
  flex: 0;
  align-items: center;
  border: 4px solid #FF084A;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer; }
  .btn:hover {
    background-color: #FFD3A7; }
