/* background colors */
.bg-col-dark {
  background-color: #DDCDC5; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #B60322; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

.main-section {
  min-height: 1000px; }
  .main-section-h80 {
    min-height: 500px; }
    @media (min-height: 500px) {
      .main-section-h80 {
        height: 80vh; } }

.main-section__title {
  padding-top: 15vh;
  background-color: #DDCDC5; }

.main-section__title::after {
  content: "";
  background-color: #B60322;
  display: inline-block;
  width: 40vw;
  height: 4px;
  margin-left: 5%; }

.main-section__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 50px 100px 50px;
  background-color: #FAF2EF; }

.container--inner {
  display: flex;
  flex-direction: column;
  max-width: 900px; }

.btn {
  display: flex;
  max-width: 230px;
  justify-content: center;
  flex: 0;
  align-items: center;
  border: 4px solid #B60322;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer; }
  .btn:hover {
    background-color: #DDCDC5; }
