@font-face {
  font-family: 'Kurye';
  src: url("../../fonts/Kurye-Light.otf"); }

@font-face {
  font-family: 'InriaSans';
  src: url("../../fonts/InriaSans-Regular.ttf"); }

@font-face {
  font-family: 'InriaSans';
  src: url("../../fonts/InriaSans-Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: 'Inconsolata';
  src: url("../../fonts/Inconsolata-Regular.ttf"); }

@font-face {
  font-family: 'InriaSans';
  src: url("../../fonts/InriaSans-Bold.ttf");
  font-weight: bold; }

.bg-col-dark {
  background-color: #d4c0b7; }

.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

h2 {
  margin-bottom: 5px; }

.font-title {
  font-family: 'Kurye', sans-serif; }

.font-text {
  font-family: 'InriaSans', sans-serif; }

.font-accent {
  font-family: 'Inconsolata', sans-serif; }

.underline {
  border-bottom: 1px solid; }

.size-big-title {
  font-size: clamp(40px, 5vw, 55px);
  line-height: 1.1;
  padding-bottom: 20px;
  margin: 0; }

.size-med-title {
  font-size: clamp(30px, 8vw, 35px);
  padding-bottom: 20px;
  line-height: 1.1;
  margin: 0; }

.size-small-title {
  font-size: clamp(20px, 4vw, 25px);
  padding-bottom: 20px;
  line-height: 1.1;
  margin: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  all: unset;
  cursor: pointer; }

h1, h2, p {
  font-weight: normal;
  margin-top: 0;
  padding-top: 0; }

@media (max-width: 900px) {
  .flex-switch-mobile {
    flex-direction: column; } }

.transition {
  transition: all 0.3s ease; }

@media (max-width: 900px) {
  .hide-mobile {
    display: none; } }

@media (min-width: 900px) {
  .hide-desktop {
    display: none; } }

.main-section {
  padding: 62px 0;
  scroll-snap-align: none;
  min-height: 825px; }
  @media (min-width: 900px) {
    .main-section {
      scroll-snap-align: start;
      height: 95vh; } }

.main-section__title {
  padding-left: 20px;
  margin-top: 10px;
  padding-top: 0.1vh; }

.main-section__title::after {
  content: "";
  background-color: #950216;
  display: inline-block;
  width: 25vw;
  height: 4px;
  margin-left: 10%; }

.main-section__welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 50px 100px 50px;
  background-color: #FAF2EF;
  height: 100%; }
  @media (max-width: 720px) {
    .main-section__welcome {
      min-height: 750px;
      padding: 20px; } }

.main-section__content {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 100px 50px;
  background-color: #FAF2EF; }
  @media (max-width: 900px) {
    .main-section__content {
      padding: 20px; } }

.main-section__inner-column {
  display: flex;
  flex-direction: column;
  max-width: 900px; }

.main-section__inner-row {
  display: flex;
  max-width: 900px; }
  @media (max-width: 900px) {
    .main-section__inner-row {
      align-items: center; } }

.main-section__center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%; }
  @media (max-width: 900px) {
    .main-section__center-container {
      height: 80%; } }

.btn {
  display: flex;
  max-width: 230px;
  justify-content: center;
  flex: 0;
  align-items: center;
  border: 4px solid #950216;
  border-radius: 10px;
  padding: 12px 25px;
  cursor: pointer; }
  .btn:hover {
    background-color: #d4c0b7; }
