@font-face {
  font-family: 'Kurye';
  src: url("../../fonts/Kurye-Light.otf"); }

@font-face {
  font-family: 'InriaSans';
  src: url("../../fonts/InriaSans-Regular.ttf"); }

@font-face {
  font-family: 'InriaSans';
  src: url("../../fonts/InriaSans-Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: 'Inconsolata';
  src: url("../../fonts/Inconsolata-Regular.ttf"); }

@font-face {
  font-family: 'InriaSans';
  src: url("../../fonts/InriaSans-Bold.ttf");
  font-weight: bold; }

.bg-col-dark {
  background-color: #d4c0b7; }

.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

h2 {
  margin-bottom: 5px; }

.font-title {
  font-family: 'Kurye', sans-serif; }

.font-text {
  font-family: 'InriaSans', sans-serif; }

.font-accent {
  font-family: 'Inconsolata', sans-serif; }

.underline {
  border-bottom: 1px solid; }

.size-big-title {
  font-size: clamp(40px, 5vw, 55px);
  line-height: 1.1;
  padding-bottom: 20px;
  margin: 0; }

.size-med-title {
  font-size: clamp(30px, 8vw, 35px);
  padding-bottom: 20px;
  line-height: 1.1;
  margin: 0; }

.size-small-title {
  font-size: clamp(20px, 4vw, 25px);
  padding-bottom: 20px;
  line-height: 1.1;
  margin: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  all: unset;
  cursor: pointer; }

h1, h2, p {
  font-weight: normal;
  margin-top: 0;
  padding-top: 0; }

@media (max-width: 900px) {
  .flex-switch-mobile {
    flex-direction: column; } }

.transition, .topnav, .burger-menu::before, .burger-menu-x::before, .burger-menu::after, .burger-menu-x::after {
  transition: all 0.3s ease; }

@media (max-width: 900px) {
  .hide-mobile {
    display: none; } }

/* top navigation bar desktop version */
.topnav {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 65px;
  z-index: 12;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #d4c0b7; }

.topnav__logo {
  font-size: 32px;
  text-decoration: none;
  flex: 1;
  font-weight: bolder;
  cursor: pointer; }

.topnav__links {
  display: flex;
  gap: 40px;
  font-size: 18px;
  align-items: center; }

.topnav__link {
  padding: 20px; }

.topnav__link.active {
  color: #950216; }

.burger-menu, .burger-menu-x {
  display: none;
  justify-self: flex-end;
  width: 2em;
  height: 1em;
  position: relative; }

.burger-menu::before, .burger-menu-x::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  top: 0;
  background-color: #950216; }

.burger-menu::after, .burger-menu-x::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 75%;
  height: 2px;
  right: 0;
  bottom: 0;
  background-color: #950216; }

.burger-menu-x {
  margin-top: 10px; }

.burger-menu-x::before {
  transform: rotate(45deg); }

.burger-menu-x::after {
  transform: rotate(-45deg);
  top: 0;
  width: 100%; }

@media (max-width: 750px) {
  /* Hide top navigation links and show burger menu icon in mobile version */
  .burger-menu, .burger-menu-x {
    display: block;
    z-index: 100; }
  .topnav__links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px; }
  .topnav__link {
    padding: 0px; } }

/* topnav links when burger-menu clicked in mobile version */
.topnav__links--menu-clicked {
  display: flex;
  position: absolute;
  background-color: #d4c0b7;
  right: 0;
  top: 0px;
  height: 100vh;
  width: 60%;
  padding: 50px 50px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 99; }
