/* background colors */
.bg-col-dark {
  background-color: #FF9F40; }

.bg-col-med {
  background-color: #FFB973; }

.bg-col-light {
  background-color: #FFD3A7; }

/* text colors */
.txt-col-accent {
  color: #FF084A; }

.txt-col-primary {
  color: #fff; }

.txt-col-secondary {
  color: #FFECD9; }

/* top navigation bar desktop version */
.topnav {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 65px;
  z-index: 12; }

.topnav__logo {
  font-size: 27px;
  text-decoration: none;
  flex: 1; }

.topnav__links {
  display: flex;
  gap: 60px;
  font-size: 18px;
  align-items: center; }

.topnav__link:hover {
  color: #FFECD9; }

.burger-menu {
  display: none;
  justify-self: flex-end; }

@media (max-width: 750px) {
  /* Hide top navigation links and show burger menu icon in mobile version */
  .burger-menu {
    display: block; }
  .topnav__links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px; } }

/* topnav links when burger-menu clicked in mobile version */
.topnav__links--menu-clicked {
  display: flex;
  position: absolute;
  background-color: #FFB973;
  right: 0;
  top: 65px;
  height: 250px;
  width: 50%;
  padding: 45px 50px;
  border-bottom: #FF084A solid 4px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; }
