/* background colors */
.bg-col-dark {
  background-color: #DDCDC5; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #B60322; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

/* top navigation bar desktop version */
.topnav {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 65px;
  z-index: 12;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #DDCDC5;
  transition: 0.3s;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222; }

.topnav__logo {
  font-size: 27px;
  text-decoration: none;
  flex: 1; }

.topnav__links {
  display: flex;
  gap: 40px;
  font-size: 18px;
  align-items: center; }

.topnav__link {
  padding: 20px; }

.topnav__link:hover {
  color: #B60322;
  padding-right: 25px; }

.burger-menu {
  display: none;
  justify-self: flex-end; }

@media (max-width: 750px) {
  /* Hide top navigation links and show burger menu icon in mobile version */
  .burger-menu {
    display: block;
    z-index: 99; }
  .topnav__links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px; }
  .topnav__link {
    padding: 0px; } }

/* topnav links when burger-menu clicked in mobile version */
.topnav__links--menu-clicked {
  display: flex;
  position: absolute;
  background-color: #DDCDC5;
  right: 0;
  top: 0px;
  height: 300px;
  width: 60%;
  padding: 80px 50px;
  border-bottom: #B60322 solid 4px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 1; }
