html,body {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    height: 2000px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

button{
    all: unset;
    cursor: pointer;
}

/* fonts */
.font-title {
    font-family: 'Kurye', sans-serif;
}
.font-content {
    font-family: 'inria sans', sans-serif;
}
.font-accent {
    font-family: 'inconsolata', sans-serif;
    
}

/* background colors */
.bg-col-dark {
    background-color: #FF9F40;
}
.bg-col-med {
    background-color: #FFB973;
}
.bg-col-light{
    background-color: #FFD3A7;
}

/* text colors */
.txt-col-accent {
    color: #FF084A;
}
.txt-col-primary {
    color: #fff;
}
.txt-col-secondary {
    color: #FFECD9;
}

/* top navigation bar desktop version */
.topnav {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 65px;
    z-index: 12;
}

.topnav__logo {
    font-size: 27px;
    text-decoration: none;
    flex: 1;
}

.topnav__links {
    display: flex;
    gap: 60px;
    font-size: 18px;
    align-items: center;
}

.topnav__link:hover {
    color: #FFECD9;
}

.burger-menu {
    display: none;
}

.page-content{
    border: 1px solid pink;
}

/* email page section */
.page__content__email-container{
    display: flex;
    position: fixed;
    bottom:0;
    left: auto;
    right: 30px;
    width: 60px;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.email{
    position: relative;
    display: inline-block;
    text-decoration: none;
    writing-mode: vertical-rl;
    margin: 20px auto;
}

.email::after {
    content: "";    
    background-color: #FF084A;
    display: inline-block;
    width: 3px;
    height: 120px;
    margin-top: 20px;
}



@media screen and (max-width: 750px) {
    
    /* Hide top navigation links and show burger menu icon in mobile version */
    .burger-menu {
        display: block;
    }

    .topnav__links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    /* Hide email on mobile version*/
    .email{
        display: none;
    }
}


@media screen and (max-height: 410px) {
    .email {
        display: none;
    }
}
  

/* topnav links when burger-menu clicked in mobile version */
.topnav__links--menu-clicked {
    display: flex;
    position: absolute;
    background-color: #FFB973;
    right: 0;
    top: 65px;
    height: 150px;
    width: 45%;
    padding: 45px 50px;
    border-bottom: #FF084A solid 2px;
}

