/* Fonts */
.font-title {
  font-family: 'Kurye', sans-serif; }

.font-text {
  font-family: 'inria sans', sans-serif; }

.font-accent {
  font-family: 'inconsolata', sans-serif; }

.size-big-title {
  font-size: clamp(40px, 5vw, 55px);
  line-height: 1.1;
  padding-bottom: 30px;
  margin: 0; }

.size-med-title {
  font-size: clamp(30px, 8vw, 35px);
  line-height: 1.1;
  padding-bottom: 30px;
  margin: 0; }

.size-small-title {
  font-size: clamp(20px, 4vw, 25px);
  line-height: 1.1;
  padding-bottom: 30px;
  margin: 0; }

.size-normal-text {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 30px;
  margin: 0; }

.size-small-text {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 30px;
  margin: 0; }

/* background colors */
.bg-col-dark {
  background-color: #d4c0b7; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  all: unset;
  cursor: pointer; }

h1, h2, p {
  font-weight: normal;
  margin-top: 0;
  padding-top: 0; }

.row {
  display: flex;
  flex-direction: row; }

.col {
  display: flex;
  flex-direction: column; }

.flex-1 {
  flex: 1; }

/* responsive inline padding */
@media (max-width: 750px) {
  .px, .px-1, .px-2, .px-3, .px-4 {
    padding-left: 20px !important;
    padding-right: 20px !important; } }

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem; }

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem; }

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem; }

@media (max-width: 750px) {
  .hide-mobile {
    display: none; } }

.h-100 {
  height: 100%; }

.transition, .topnav, .burger-menu::before, .burger-menu-x::before, .burger-menu::after, .burger-menu-x::after {
  transition: all 0.3s ease; }

/* background colors */
.bg-col-dark {
  background-color: #d4c0b7; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  all: unset;
  cursor: pointer; }

h1, h2, p {
  font-weight: normal;
  margin-top: 0;
  padding-top: 0; }

.row {
  display: flex;
  flex-direction: row; }

.col {
  display: flex;
  flex-direction: column; }

.flex-1 {
  flex: 1; }

/* responsive inline padding */
@media (max-width: 750px) {
  .px, .px-1, .px-2, .px-3, .px-4 {
    padding-left: 20px !important;
    padding-right: 20px !important; } }

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem; }

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem; }

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem; }

@media (max-width: 750px) {
  .hide-mobile {
    display: none; } }

.h-100 {
  height: 100%; }

.transition, .topnav, .burger-menu::before, .burger-menu-x::before, .burger-menu::after, .burger-menu-x::after {
  transition: all 0.3s ease; }

/* top navigation bar desktop version */
.topnav {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 65px;
  z-index: 12;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #d4c0b7; }

.topnav__logo {
  font-size: 32px;
  text-decoration: none;
  flex: 1;
  font-weight: bolder;
  cursor: pointer; }

.topnav__links {
  display: flex;
  gap: 40px;
  font-size: 18px;
  align-items: center; }

.topnav__link {
  padding: 20px; }

.topnav__link:hover {
  color: #950216; }

.burger-menu, .burger-menu-x {
  display: none;
  justify-self: flex-end;
  width: 2em;
  height: 1em;
  position: relative; }

.burger-menu::before, .burger-menu-x::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  top: 0;
  background-color: #950216; }

.burger-menu::after, .burger-menu-x::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 75%;
  height: 2px;
  right: 0;
  bottom: 0;
  background-color: #950216; }

.burger-menu-x {
  margin-top: 10px; }

.burger-menu-x::before {
  transform: rotate(45deg); }

.burger-menu-x::after {
  transform: rotate(-45deg);
  top: 0;
  width: 100%; }

@media (max-width: 750px) {
  /* Hide top navigation links and show burger menu icon in mobile version */
  .burger-menu, .burger-menu-x {
    display: block;
    z-index: 99; }
  .topnav__links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px; }
  .topnav__link {
    padding: 0px; } }

/* topnav links when burger-menu clicked in mobile version */
.topnav__links--menu-clicked {
  display: flex;
  position: absolute;
  background-color: #d4c0b7;
  right: 0;
  top: 0px;
  height: 100vh;
  width: 60%;
  padding: 50px 50px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 1; }

/* background colors */
.bg-col-dark {
  background-color: #d4c0b7; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

.email-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 45px;
  justify-content: center;
  align-items: center; }

.email-container__input {
  writing-mode: vertical-rl;
  margin: 20px auto;
  font-size: 18px; }
  .email-container__input:hover {
    color: #FAF2EF;
    padding-bottom: 10px; }

.email-container__input::after {
  content: "";
  background-color: #950216;
  display: inline-block;
  width: 4px;
  height: 120px;
  margin-top: 20px; }

@media screen and (max-height: 450px) {
  .email-container__input {
    display: none; } }

/* background colors */
.bg-col-dark {
  background-color: #d4c0b7; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

.main-section, .main-section-h80 {
  scroll-snap-align: start;
  height: 95vh; }
  .main-section-h80 {
    padding: 30px 0;
    min-height: 500px; }
    @media (min-height: 500px) {
      .main-section-h80 {
        height: 95vh; } }

.main-section__title {
  padding-top: 12vh;
  padding-left: 15%;
  padding-right: 15%; }

.main-section__title::after {
  content: "";
  background-color: #950216;
  display: inline-block;
  width: 25vw;
  height: 4px;
  margin-left: 10%; }

.main-section__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 50px 100px 50px;
  background-color: #FAF2EF; }

.container--inner {
  display: flex;
  flex-direction: column;
  max-width: 900px; }

.btn {
  display: flex;
  max-width: 230px;
  justify-content: center;
  flex: 0;
  align-items: center;
  border: 4px solid #950216;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer; }
  .btn:hover {
    background-color: #d4c0b7; }

html, body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  scroll-snap-type: y mandatory; }

.page__content {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.page__right-sidebar {
  flex: 0 1 100px; }
