/* Fonts */
.font-title {
  font-family: 'Kurye', sans-serif; }

.font-text {
  font-family: 'inria sans', sans-serif; }

.font-accent {
  font-family: 'inconsolata', sans-serif; }

.size-big-title {
  font-size: clamp(40px, 8vw, 55px);
  line-height: 1.1;
  margin-bottom: 30px; }

.size-med-title {
  font-size: 35px;
  line-height: 1.1;
  margin-bottom: 30px; }

.size-small-title {
  font-size: 25px;
  line-height: 1.1;
  margin-bottom: 30px; }

.size-normal-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px; }

.size-small-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px; }

/* background colors */
.bg-col-dark {
  background-color: #FF9F40; }

.bg-col-med {
  background-color: #FFB973; }

.bg-col-light {
  background-color: #FFD3A7; }

/* text colors */
.txt-col-accent {
  color: #FF084A; }

.txt-col-primary {
  color: #fff; }

.txt-col-secondary {
  color: #FFECD9; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  all: unset;
  cursor: pointer; }

h1, h2, p {
  font-weight: normal;
  margin-top: 0;
  padding-top: 0; }

.row {
  display: flex;
  flex-direction: row; }

.col {
  display: flex;
  flex-direction: column; }

.flex-1 {
  flex: 1; }

@media screen and (max-width: 750px) {
  .hide-mobile {
    display: none; } }

.btn {
  display: flex;
  max-width: 250px;
  justify-content: center;
  flex: 0;
  align-items: center;
  border: 4px solid #FF084A;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.3s ease; }
  .btn:hover {
    background-color: #FFD3A7; }

/* background colors */
.bg-col-dark {
  background-color: #FF9F40; }

.bg-col-med {
  background-color: #FFB973; }

.bg-col-light {
  background-color: #FFD3A7; }

/* text colors */
.txt-col-accent {
  color: #FF084A; }

.txt-col-primary {
  color: #fff; }

.txt-col-secondary {
  color: #FFECD9; }

/* top navigation bar desktop version */
.topnav {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 65px;
  z-index: 12; }

.topnav__logo {
  font-size: 27px;
  text-decoration: none;
  flex: 1; }

.topnav__links {
  display: flex;
  gap: 60px;
  font-size: 18px;
  align-items: center; }

.topnav__link:hover {
  color: #FFECD9; }

.burger-menu {
  display: none; }

@media (max-width: 750px) {
  /* Hide top navigation links and show burger menu icon in mobile version */
  .burger-menu {
    display: block; }
  .topnav__links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px; } }

/* topnav links when burger-menu clicked in mobile version */
.topnav__links--menu-clicked {
  display: flex;
  position: absolute;
  background-color: #FFB973;
  right: 0;
  top: 65px;
  height: 220px;
  width: 45%;
  padding: 45px 50px;
  border-bottom: #FF084A solid 4px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; }

/* background colors */
.bg-col-dark {
  background-color: #FF9F40; }

.bg-col-med {
  background-color: #FFB973; }

.bg-col-light {
  background-color: #FFD3A7; }

/* text colors */
.txt-col-accent {
  color: #FF084A; }

.txt-col-primary {
  color: #fff; }

.txt-col-secondary {
  color: #FFECD9; }

.email-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 45px;
  justify-content: center;
  align-items: center; }

.email-container__input {
  writing-mode: vertical-rl;
  margin: 20px auto; }
  .email-container__input:hover {
    color: #FFD3A7; }

.email-container__input::after {
  content: "";
  background-color: #FF084A;
  display: inline-block;
  width: 4px;
  height: 120px;
  margin-top: 20px; }

@media screen and (max-height: 410px) {
  /* Hide email on small window height */
  .email-container__input {
    display: none; } }

/* background colors */
.bg-col-dark {
  background-color: #FF9F40; }

.bg-col-med {
  background-color: #FFB973; }

.bg-col-light {
  background-color: #FFD3A7; }

/* text colors */
.txt-col-accent {
  color: #FF084A; }

.txt-col-primary {
  color: #fff; }

.txt-col-secondary {
  color: #FFECD9; }

/* main section height */
@media (min-height: 500px) {
  .main-section {
    height: 80vh; } }

.main-section__content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 75px 50px 100px 50px;
  background-color: #FFB973; }

.container--inner {
  display: flex;
  flex-direction: column;
  max-width: 900px; }

html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 2000px; }

.page__content {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.page__right-sidebar {
  flex: 0 1 100px; }
