/* Fonts */
h2 {
  margin-bottom: 5px; }

.font-title {
  font-family: 'Kurye', sans-serif; }

.font-text {
  font-family: 'inria sans', sans-serif; }

.font-accent {
  font-family: 'inconsolata', sans-serif; }

.underline {
  border-bottom: 1px solid; }

.size-big-title {
  font-size: clamp(40px, 5vw, 55px);
  line-height: 1.1;
  padding-bottom: 30px;
  margin: 0; }

.size-med-title {
  font-size: clamp(30px, 8vw, 35px);
  padding-bottom: 30px;
  line-height: 1.1;
  margin: 0; }

.size-small-title {
  font-size: clamp(20px, 4vw, 25px);
  padding-bottom: 30px;
  line-height: 1.1;
  margin: 0; }

.size-normal-text {
  font-size: 18px;
  padding-bottom: 30px;
  line-height: 1.5;
  margin: 0; }

.size-small-text {
  font-size: 16px;
  padding-bottom: 30px;
  line-height: 1.5;
  margin: 0; }

/* background colors */
.bg-col-dark {
  background-color: #d4c0b7; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  all: unset;
  cursor: pointer; }

h1, h2, p {
  font-weight: normal;
  margin-top: 0;
  padding-top: 0; }

/* responsive inline padding */
@media (max-width: 750px) {
  .px, .px-1, .px-2, .px-3, .px-4 {
    padding-left: 20px !important;
    padding-right: 20px !important; } }

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem; }

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem; }

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem; }

@media (max-width: 750px) {
  .hide-mobile {
    display: none; } }

@media (max-width: 900px) {
  .flex-switch-mobile {
    flex-direction: column; } }

.transition, .topnav, .burger-menu::before, .burger-menu-x::before, .burger-menu::after, .burger-menu-x::after {
  transition: all 0.3s ease; }

/* background colors */
.bg-col-dark {
  background-color: #d4c0b7; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  all: unset;
  cursor: pointer; }

h1, h2, p {
  font-weight: normal;
  margin-top: 0;
  padding-top: 0; }

/* responsive inline padding */
@media (max-width: 750px) {
  .px, .px-1, .px-2, .px-3, .px-4 {
    padding-left: 20px !important;
    padding-right: 20px !important; } }

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem; }

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem; }

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem; }

@media (max-width: 750px) {
  .hide-mobile {
    display: none; } }

@media (max-width: 900px) {
  .flex-switch-mobile {
    flex-direction: column; } }

.transition, .topnav, .burger-menu::before, .burger-menu-x::before, .burger-menu::after, .burger-menu-x::after {
  transition: all 0.3s ease; }

/* top navigation bar desktop version */
.topnav {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 65px;
  z-index: 12;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #d4c0b7; }

.topnav__logo {
  font-size: 32px;
  text-decoration: none;
  flex: 1;
  font-weight: bolder;
  cursor: pointer; }

.topnav__links {
  display: flex;
  gap: 40px;
  font-size: 18px;
  align-items: center; }

.topnav__link {
  padding: 20px; }

.topnav__link:hover {
  color: #950216; }

.burger-menu, .burger-menu-x {
  display: none;
  justify-self: flex-end;
  width: 2em;
  height: 1em;
  position: relative; }

.burger-menu::before, .burger-menu-x::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  top: 0;
  background-color: #950216; }

.burger-menu::after, .burger-menu-x::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 75%;
  height: 2px;
  right: 0;
  bottom: 0;
  background-color: #950216; }

.burger-menu-x {
  margin-top: 10px; }

.burger-menu-x::before {
  transform: rotate(45deg); }

.burger-menu-x::after {
  transform: rotate(-45deg);
  top: 0;
  width: 100%; }

@media (max-width: 750px) {
  /* Hide top navigation links and show burger menu icon in mobile version */
  .burger-menu, .burger-menu-x {
    display: block;
    z-index: 100; }
  .topnav__links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px; }
  .topnav__link {
    padding: 0px; } }

/* topnav links when burger-menu clicked in mobile version */
.topnav__links--menu-clicked {
  display: flex;
  position: absolute;
  background-color: #d4c0b7;
  right: 0;
  top: 0px;
  height: 100vh;
  width: 60%;
  padding: 50px 50px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 99; }

/* background colors */
.bg-col-dark {
  background-color: #d4c0b7; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

.email-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 45px;
  justify-content: center;
  align-items: center; }

.email-container__input {
  writing-mode: vertical-rl;
  margin: 20px auto;
  font-size: 18px; }
  .email-container__input:hover {
    color: #FAF2EF;
    padding-bottom: 10px; }

.email-container__input::after {
  content: "";
  background-color: #950216;
  display: inline-block;
  width: 4px;
  height: 120px;
  margin-top: 20px; }

@media screen and (max-height: 450px) {
  .email-container__input {
    display: none; } }

/* background colors */
.bg-col-dark {
  background-color: #d4c0b7; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

.main-section {
  padding: 62px 0;
  scroll-snap-align: none;
  min-height: 825px; }
  @media (min-width: 900px) {
    .main-section {
      scroll-snap-align: start;
      height: 95vh; } }

.main-section__title {
  padding-left: 20px;
  margin-top: 10px;
  padding-top: 0.1vh; }

.main-section__title::after {
  content: "";
  background-color: #950216;
  display: inline-block;
  width: 25vw;
  height: 4px;
  margin-left: 10%; }

.main-section__welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 50px 100px 50px;
  background-color: #FAF2EF;
  height: 100%; }
  @media (max-width: 720px) {
    .main-section__welcome {
      min-height: 750px;
      padding: 20px; } }

.main-section__content {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 100px 50px;
  background-color: #FAF2EF; }
  @media (max-width: 900px) {
    .main-section__content {
      padding: 20px;
      width: 100%; } }

.main-section__inner-column {
  display: flex;
  flex-direction: column;
  max-width: 900px; }

.main-section__inner-row {
  display: flex;
  max-width: 900px; }
  @media (max-width: 900px) {
    .main-section__inner-row {
      align-items: center; } }

.main-section__center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%; }
  @media (max-width: 900px) {
    .main-section__center-container {
      height: 80%; } }

.btn {
  display: flex;
  max-width: 230px;
  justify-content: center;
  flex: 0;
  align-items: center;
  border: 4px solid #950216;
  border-radius: 10px;
  padding: 12px 25px;
  cursor: pointer; }
  .btn:hover {
    background-color: #d4c0b7; }

.about-me__image {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  z-index: 3;
  transition: transform 0.6s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }

.about-me__shape-one {
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 2;
  opacity: 0.6; }

.about-me__shape-two {
  position: relative;
  top: 180px;
  right: 75px; }

.about-me__image-container {
  position: relative;
  height: 400px;
  width: 200px;
  margin: 50px 80px 0 12px; }
  @media (max-width: 900px) {
    .about-me__image-container {
      margin: 0 100px;
      height: 400px;
      width: 200px; } }

.about-me__text {
  line-height: 1.8;
  margin: 0 50px 40px 0;
  padding: 25px 45px 25px 35px;
  border-radius: 5px;
  justify-self: center;
  align-self: center; }
  @media (max-width: 900px) {
    .about-me__text {
      margin: 0 0 40px 0;
      padding: 10px 20px;
      width: 80vw; } }
  @media (max-width: 500px) {
    .about-me__text {
      width: 100%; } }

.about-me__image-container:hover .about-me__image {
  transform: translate(30px, 30px);
  width: 251px; }

.about-me__image-container:hover .about-me__shape-one {
  opacity: 1;
  transition: 1s ease-in-out; }

/* background colors */
.bg-col-dark {
  background-color: #d4c0b7; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  z-index: 5;
  background-color: #d4c0b7; }

/* background colors */
.bg-col-dark {
  background-color: #d4c0b7; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

.carousel {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 800px;
  width: 100%; }
  @media (min-width: 900px) {
    .carousel {
      max-height: 525px; } }
  @media (max-width: 900px) {
    .carousel {
      max-height: 800px; } }

.carousel__item.active {
  position: absolute;
  visibility: visible;
  opacity: 1;
  top: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 50px; }
  @media (max-width: 900px) {
    .carousel__item.active {
      padding-bottom: 200px;
      height: 70%;
      top: 75px; } }

.carousel__item {
  visibility: hidden;
  transition: opacity 0.75s ease-in-out;
  opacity: 0; }

.carousel__arrow-button {
  position: absolute;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  height: 48px;
  width: 48px;
  border-radius: 5px;
  color: #950216;
  font-size: 1.5rem;
  background-color: rgba(175, 177, 179, 0.3);
  border: none;
  z-index: 2; }

.carousel__arrow-button#previous {
  left: 1%;
  top: 45%; }

.carousel__arrow-button#next {
  right: 1%;
  top: 45%; }

.carousel__bullet-nav {
  align-self: center;
  display: flex;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%); }

.carousel__bullet {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  background-color: rgba(175, 177, 179, 0.5);
  cursor: pointer; }

.carousel__bullet.active {
  background-color: #950216; }

.project-card {
  align-self: center;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 60px 1fr;
  grid-template-rows: 25px 1fr 25px;
  margin-bottom: 40px; }
  @media (max-width: 900px) {
    .project-card {
      height: 400px;
      display: flex;
      flex-direction: column; } }

.project-card img {
  grid-area: 1 / 1 / 2 / 3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  object-fit: cover;
  height: 350px;
  width: 300px;
  border-radius: 5px;
  z-index: 1; }
  @media (max-width: 900px) {
    .project-card img {
      width: 60vw;
      height: 300px;
      border-radius: 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; } }
  @media (max-width: 500px) {
    .project-card img {
      width: 300px; } }

.info-box {
  padding: 25px 25px 25px 35px;
  background: #fff;
  border-radius: 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / 3 / 4; }
  @media (max-width: 900px) {
    .info-box {
      padding: 25px;
      width: 60vw;
      border-radius: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; } }
  @media (max-width: 500px) {
    .info-box {
      width: 300px; } }

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px; }

.info-box__project-link {
  align-self: flex-end; }

/* background colors */
.bg-col-dark {
  background-color: #d4c0b7; }

.bg-col-med {
  background-color: #FAF2EF; }

/* text colors */
.txt-col-accent {
  color: #950216; }

.txt-col-primary {
  color: #000; }

.txt-col-secondary {
  color: #4C4C4C; }

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px; }
  @media (max-width: 900px) {
    form {
      margin-top: 0; } }

input, textarea {
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  resize: none;
  border: none;
  width: 80vw;
  max-width: 500px;
  background-color: rgba(175, 177, 179, 0.3); }

*:focus {
  outline: none; }

@media (max-width: 400px) {
  input, textarea {
    width: 100vw; } }

.form-input-title {
  margin: 7px 0 0 0;
  padding: 0;
  color: #950216; }

form > button {
  margin-top: 7px;
  align-self: center;
  font-size: 1.25rem; }

html, body {
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  scroll-snap-type: y mandatory; }

.page {
  display: flex; }

.page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1; }

.page__right-sidebar {
  flex: 0 1 100px; }
