@import 'scss/base/fonts.scss';
@import 'scss/base/colors.scss';
@import 'scss/base/utilities.scss';
@import 'scss/component/topnav.scss';
@import 'scss/component/email-reference.scss';
@import 'scss/component/main-section.scss';

html,body {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page__right-sidebar {
    flex: 0 1 100px;
}