/* Fonts */
.font-title {
  font-family: 'Kurye', sans-serif; }

.font-text {
  font-family: 'inria sans', sans-serif; }

.font-accent {
  font-family: 'inconsolata', sans-serif; }

.size-big-title {
  font-size: clamp(40px, 5vw, 55px);
  line-height: 1.1;
  padding-bottom: 30px;
  margin: 0; }

.size-med-title {
  font-size: clamp(30px, 8vw, 35px);
  line-height: 1.1;
  padding-bottom: 30px;
  margin: 0; }

.size-small-title {
  font-size: clamp(20px, 4vw, 25px);
  line-height: 1.1;
  padding-bottom: 30px;
  margin: 0; }

.size-normal-text {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 30px;
  margin: 0; }

.size-small-text {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 30px;
  margin: 0; }
