* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  all: unset;
  cursor: pointer; }

h1, h2, p {
  font-weight: normal;
  margin-top: 0;
  padding-top: 0; }

/* responsive inline padding */
@media (max-width: 750px) {
  .px, .px-1, .px-2, .px-3, .px-4 {
    padding-left: 20px !important;
    padding-right: 20px !important; } }

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem; }

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem; }

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem; }

@media (max-width: 750px) {
  .hide-mobile {
    display: none; } }

@media (max-width: 800px) {
  .flex-switch-mobile {
    flex-direction: column; } }

.transition {
  transition: all 0.3s ease; }
