@import 'scss/base/colors.scss';

.main-section{
    scroll-snap-align: start;
    height: 100%;
    padding: 62px 0;

    // main section height
    @media (min-height: 500px){
        height: 95vh;
    }
}

.main-section__title {
    padding-top: 5vh;
}

// line pseudo elem on section title
.main-section__title::after {
    content: "";
    background-color: $c-bright;
    display: inline-block;
    width: 25vw;
    height: 4px;
    margin-left: 10%;
}

.main-section__content {
    padding: 75px 50px 100px 50px; 
    background-color: $c-med;
    overflow: auto;

    @media (max-width: 750px) {
        overflow: unset;
    }
}

.maxw-container{
    max-width: 900px;
}

.btn {
    display: flex;
    max-width: 230px;
    justify-content: center;
    flex:0;
    align-items: center;
    border: 4px solid $c-bright;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    &:hover {
        background-color: $c-dark;
    }
}

