@import 'scss/base/colors.scss';

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 88%;
}

/* allow full width on mobile version */
@media (max-width: 750px) {
    .page-content {
        max-width: none;
    }
}

.page-content__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 50px 100px 50px; 
    background-color: $c-med-orange;
}

/* content box container height */
@media (min-height: 500px){
    .page-content__container{
        height: 80vh;
    }
    
}

.page-content__section {
    display: flex;
    flex-direction: column;
    max-width: 900px;
}



