@import 'scss/base/colors.scss';
@import 'scss/base/utilities.scss';

/* top navigation bar desktop version */
.topnav {
    @extend .transition;
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 65px;
    z-index: 12;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    background-color: $c-dark;
}

.topnav__logo {
    font-size: 32px;
    text-decoration: none;
    flex: 1;
    font-weight: bolder;
    cursor: pointer;
}

.topnav__links {
    display: flex;
    gap: 40px;
    font-size: 18px;
    align-items: center;
}

.topnav__link {
    padding: 20px;
}

.topnav__link:hover {
    color: $c-bright;
}

.topnav__link.active {
    color: $c-bright;
}

.burger-menu {
    display: none;
    justify-self: flex-end;
    width: 2em;
    height: 1em;
    position:relative;
}

.burger-menu::before {
    @extend .transition;
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    top:0;
    background-color: $c-bright;
}

.burger-menu::after {
    @extend .transition;
    content: "";
    position: absolute;
    display: inline-block;
    width: 75%;
    height: 2px;
    right: 0;
    bottom:0;
    background-color: $c-bright;
}

.burger-menu-x {
    @extend .burger-menu;
    margin-top: 10px;
}

.burger-menu-x::before {
    @extend .transition;
    transform: rotate(45deg);
}

.burger-menu-x::after {
    @extend .transition;
    transform: rotate(-45deg);
    top:0;
    width: 100%;
}

@media (max-width: 750px) {
    /* Hide top navigation links and show burger menu icon in mobile version */
    .burger-menu {
        display: block;
        z-index:100;
    }

    .topnav__links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .topnav__link {
        padding: 0px;
    }
}

/* topnav links when burger-menu clicked in mobile version */
.topnav__links--menu-clicked {
    display: flex;
    position: absolute;
    background-color: $c-dark;
    right: 0;
    top: 0px;
    height: 100vh;
    width: 60%;
    padding: 50px 50px;
    // border-left: $c-bright solid 4px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index:99;
}
