$c-dark-orange: #DDCDC5;
$c-med-orange: #FAF2EF;
$c-black: #000;
$c-peach: #4C4C4C;
$c-bright-pink: #B60322;

/* background colors */
.bg-col-dark {
    background-color: $c-dark-orange;
}
.bg-col-med {
    background-color: $c-med-orange;
}


/* text colors */
.txt-col-accent {
    color: $c-bright-pink;
}
.txt-col-primary {
    color: $c-black;
}
.txt-col-secondary {
    color: $c-peach;
}