*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

button{
    all: unset;
    cursor: pointer;
}

h1,h2,p {
    font-weight: normal;
    margin-top:0;
    padding-top:0;
}

// DEL 
/* responsive inline padding */
.px{
    @media (max-width: 750px) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
        
    &-1 {
        @extend .px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &-2 {
        @extend .px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &-3 {
        @extend .px;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    &-4 {
        @extend .px;
        padding-left: 4rem;
        padding-right: 4rem;
    }

}

.hide-mobile{
    @media (max-width: 750px) {
        display: none;
    }
}

.flex-switch-mobile{
    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.transition{
    transition: all 0.3s ease;
}