$c-dark: #d4c0b7;
$c-med: #FAF2EF;
$c-black: #000;
$c-grey: #4C4C4C;
$c-bright: #950216;

@font-face {
    font-family: 'Kurye';
    src: url("../../fonts/Kurye-Light.otf");
}
@font-face {
    font-family: 'InriaSans';
    src: url("../../fonts/InriaSans-Regular.ttf");
}
@font-face {
    font-family: 'InriaSans';
    src: url("../../fonts/InriaSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'Inconsolata';
    src: url("../../fonts/Inconsolata-Regular.ttf");
}
@font-face {
    font-family: 'InriaSans';
    src: url("../../fonts/InriaSans-Bold.ttf");
    font-weight: bold;
}

.bg-col-dark {
    background-color: $c-dark;
}
.txt-col-accent {
    color: $c-bright;
}
.txt-col-primary {
    color: $c-black;
}
.txt-col-secondary {
    color: $c-grey;
}

h2 {
    margin-bottom: 5px;
}

.font-title {
    font-family: 'Kurye', sans-serif;
}
.font-text {
    font-family: 'InriaSans', sans-serif;
}
.font-accent {
    font-family: 'Inconsolata', sans-serif;
}

.underline {
    border-bottom: 1px solid;
}

.size-big-title {
    font-size: clamp(40px, 5vw, 55px);
    line-height: 1.1;
    padding-bottom: 20px;
    margin:0;
}

.size-med-title {
    font-size: clamp(30px, 8vw, 35px);
    padding-bottom: 20px;
    line-height: 1.1;
    margin:0;
}

.size-small-title {
    font-size: clamp(20px, 4vw, 25px);
    padding-bottom: 20px;
    line-height: 1.1;
    margin:0;
}


*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

button{
    all: unset;
    cursor: pointer;
}

h1,h2,p {
    font-weight: normal;
    margin-top:0;
    padding-top:0;
}

.flex-switch-mobile{
    @media (max-width: 900px) {
        flex-direction: column;
    }
}

.transition{
    transition: all 0.3s ease;
}

.hide-mobile {
    @media (max-width: 900px) {
        display:none;
    }
}